# Ignore all Jupyter notebooks
*.ipynb

# You can also ignore a specific notebook or folder:
# pdf_loader.ipynb
# /notebook/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.env
.env/

# VS Code settings
.vscode/

# Data files
data/vector_store/
data/text_files/
